.DS_Store
*.mov

# Convention: when a new version is released, add the previous version here
# so only the latest version is tracked in the repo.
po_transformer.html
po_transformer-2.html
po_transformer_v3.html
po_transformer_v3.5.html
po_transformer_v3_6.html
po_transformer_v4_0.html
po_transformer_v4_5.html
po_transformer_v4_6.html
po_transformer_v5_0.html
po_transformer_v5_1.html
po_transformer_v5_2.html
po_transformer_v5_3.html
po_transformer_v5_4.html
po_transformer_v5_5.html
po_transformer_v5_6.html
